/* Global */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Quicksand", sans-serif;
  height: 100vh;
  letter-spacing: 0.1rem;
}

/* Header part */
header {
  height: 15%;
  background-color: aliceblue;
}

header .container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1200px;
  padding-inline: 4px;
  padding-bottom: 16px;
  margin-inline: auto;
}

header .name {
  place-self : end start;
  line-height: 1.4;
}

header h2 {
  letter-spacing: 4;
}

header .menu {
  place-self: end end;
}

.menu a {
  text-decoration: none;
  color: slategray;
  margin-right: 12px;
}

.menu a:hover {
  color: deeppink;
  outline: 1px solid lime;
  outline-offset: 4px;
}

/* Main part */
main {
  background-color: coral;
  height: 70%;
}

main .container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-inline: 4px;
  max-width: 1200px;
  margin-inline: auto;
}

main .left {
  background-color: pink;
  place-self: center;
  width: 100%;
}

main .right {
  background-color: aqua;
  place-self: center;
  width: 100%;
}

/* Footer part */
footer {
  background-color: violet;
  height: 15%;
}

footer .container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 20px;
  padding-inline: 4px;
  max-width: 1200px;
  margin-inline: auto;
}

.copyright {
  background-color: deeppink;
  place-self: end start;
}

.contact-bar {
  background-color: lime;
  place-self: end end;
}

