* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Quicksand", sans-serif;
  border: red solid;
  height: 100vh;
}

header {
  background-color: gold;
  height: 15%;
}

header .container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-inline: 4px;
  padding-bottom: 16px;
}

header .name {
  background-color: aliceblue;
  place-self : end start;
}

header .menu {
  background-color: antiquewhite;
  place-self: end end;

}

main {
  background-color: coral;
  height: 70%;
}

main .container {
  border : solid;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  
}

main .left {
  background-color: pink;
  place-self: center;
  width: 100%;
}

main .right {
  background-color: aqua;
  place-self: center;
  width: 100%;
}

footer {
  background-color: violet;
  height: 15%;
}