/* Global */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Quicksand", sans-serif;
  height: 100vh;
  letter-spacing: 0.1rem;
}

/* Header part */
header {
  height: 15%;
  background-color: aliceblue;
}

header .container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1200px;
  padding-inline: 4px;
  padding-bottom: 16px;
  margin-inline: auto;
}

header .name {
  place-self: end start;
  line-height: 1.4;
  color: #333;
}

header h2 {
  letter-spacing: 4;
}

header .menu {
  place-self: end end;
}

.menu a {
  text-decoration: none;
  color: slategray;
  margin-right: 12px;
}

.menu a:hover {
  color: deeppink;
  outline: 1px solid lime;
  outline-offset: 4px;
}

/* Main part */
main {
  height: 70%;
  overflow: auto;
  scroll-behavior: smooth;
}

/* Page 1 */
#page1 {
  height: 100%;
}

#page1 .container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-inline: 4px;
  max-width: 1200px;
  margin-inline: auto;
}

#page1 .left {
  place-self: center;
  width: 100%;
}

.left img {
  width: 90%;
}

#page1 .right {
  place-self: center;
  width: 100%;
  line-height: 1.4;
  padding-right: 36px;
}

.right h3 {
  color: coral;
  letter-spacing: 0.2rem;
  margin-top: 16px;
}

.right hr {
  border: 3px solid coral;
  width: 40px;
  margin-block: 4px 12px;
}

.right button {
  padding: 1px 4px;
  border-style: double;
  border-color: #eee;
  background-color: #fff;
  color: #777;
  border-radius: 2px;
  font-size: 14px;
}

/* Page 2 */

#page2 {
  height: 100%;
}

#page2 .container {
  height: 100%;
  display: grid;
  grid-template-columns: 7fr 3fr;
  padding-inline: 4px;
  max-width: 1200px;
  margin-inline: auto;
  color: #555;
}

#page2 .work-exp {
  /* background-color: gold; */
  padding-right: 5%;
  padding-top: 16px;
}

#page2 .work-exp > *, #page2 .education > * {
  font-weight: 400;
  margin-block: 6px;
}

#page2 .company-name {
  font-weight: 500;
}

#page2 .work-exp hr, #page2 .education hr{
  width : 60%;
  border-style: groove;
  border-width: 1px;
  margin-bottom: 12px;
}

#page2 .role {
  color: tomato;
}

#page2 .work-exp ul, #page2 .education ul {
  padding-left : 1.5rem;
  font-size: smaller;
  /* border: solid; */
  margin-bottom: 24px;
}

#page2 li {
  margin-block : 16px;
}

#page2 .education {
  background-color: linen;
  padding-inline: 12px 4px;
  padding-top: 16px;
  /* box-shadow: 4px 4px 8px #ddd; */
}

/* Footer part */
footer {
  background-color: aliceblue;
  height: 15%;
}

footer .container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 20px;
  padding-inline: 4px;
  max-width: 1200px;
  margin-inline: auto;
}

.copyright {
  place-self: end start;
  opacity: 0.7;
}

.contact-bar {
  place-self: end end;
  font-size: larger;
  color: #444;
}